<% layout("/layouts/boilerplatecode.ejs")%>
<body>
   <style>
    #filters{
        display:  flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }
    .filter:hover{
        opacity: 1;
        cursor:  pointer;
    }
    .filter i{
        font-size: 1.3rem;
    }

    .tax-info{
        display: none;
    }

    .tax-toggle{
        height: 3rem;
        border: 3px solid #FE424D;     
        border-radius: 10px;
        padding: 1rem;
        margin-left: 7rem;
        display: flex;
        align-items: center;
    }

   </style>
    <div id="filters">
        <div class="filter">
           <div> <i class="fa-solid fa-fire-flame-curved"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div> <i class="fa-solid fa-bed"></i></div>
             <p>Room</p>
         </div>
         <div class="filter">
            <div> <i class="fa-solid fa-city"></i></div>
             <p>Iconic cities</p>
         </div>
         <div class="filter">
            <div> <i class="fa-solid fa-mountain-sun"></i></div>
             <p>Mountain</p>
         </div>
         <div class="filter">
            <div><i class="fa-solid fa-font-awesome"></i></div>
             <p>Castles</p>
         </div>
         <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
             <p>Amazing Pools</p>
         </div>
         <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
             <p>Camping</p>
         </div>
         <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
             <p>Farms</p>
         </div>
         <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
             <p>Arctic</p>
         </div>
         <div>
            <div class="tax-toggle">

            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
         </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-3 mt-3">
        <%for(let listing of allListings){%>
            <a href="/listings/<%=listing._id%>" class="listings-link">
                <div class="card col listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listings_image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text"><b><%=listing.title%></b>
                        <br>
                       <% if (listing.price) { %>
                            &#8377;<%= listing.price.toLocaleString("en-IN") %> /night
                            <i class="tax-info" &nbsp; &nbsp;>+18% GST</i>
                        <% } else { %>
                            Price not available
                        <% } %>
                    </p>
                    </div>
                  </div>
            </a>
              <%}%>
    </div>
</body>

<script>
    let taxSwitch=document.getElementById("switchCheckDefault");
    taxSwitch.addEventListener("click",()=>{
    let taxinfo=document.getElementsByClassName("tax-info");
    for(info of taxinfo){
        if(info.style.display != "inline") {
            info.style.display = "inline";
        } else {
            info.style.display = "none";
        }
    }
 
    })
</script>